@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap');
.body{
    background-image: url(./raw/background.jpg);
    background-size: cover;
    background-repeat: repeat;
}
.item{
    color:white;
}
.item:hover{
    color:white!important;
    background:#454666!important;
}
.item:link,.item:visited,.item.active{
    background:#454666!important;
    color:#454666!important;
}
.nav{
    height:100vh;
    width: 50px;
    color: #454666;
}
.menu{
    background:#7172a5;
    border-color:#7172a5;
}
.test{
    width:8em!important;
    margin-left: 38px;
}
.ant-menu-item-selected{
    background-color: #7172a5!important;
 }
.box{
    background-color: white!important;
    padding: 100px!important;
    border-radius: 20px;
}
.box2{
    background-color: blue!important;
    padding: 100px!important;
    border-radius: 20px;
}
.box3{
    background-color: green!important;
    padding: 100px!important;
    border-radius: 20px;
}
.test2{
    background-color: green!important;
    padding-bottom: 1000px;
    border-radius: 20px;
}