@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap');
.body{
    background-image: url(./raw/background.jpg);
    background-size: cover;
    background-repeat: repeat;
}
.item{
    color:white;
}
.item:hover{
    color:white!important;
    background:#454666!important;
}
.item:link,.item:visited,.item.active{
    background:#454666!important;
    color:#454666!important;
}
.nav{
    height:100vh;
    width: 50px;
    color: #454666;
}
.menu{
    background:#7172a5;
    border-color:#7172a5;
}
.test{
    width:8em!important;
    margin-left: 38px;
}
.ant-menu-item-selected{
    background-color: #7172a5!important;
 }
.box{
    background-color: black!important;
    height: 200px;
    border-radius: 20px;
    width: 275px;
    color: white;
    
}
.box2{
    background-color: blue!important;
    height: 200px;
    border-radius: 20px;
    width: 275px;
}
.box3{
    background-color: green!important;
    height: 200px;
    border-radius: 20px;
    width: 275px;
}
.box4{
    
    height: 200px;
}
.box5{
    background-color: purple;
    border-radius: 20px;
}
.test2{
    background-color: green!important;
    padding-bottom: 1000px;
    border-radius: 20px;
    
}
.test3{
   width: 100%!important;
   margin-top: 25px;
   --bs-gutter-x : 0em!important;
}
.test4{
    --bs-gutter-x : 0em!important;
 }
.TopLine{
    background-color: yellow;
    height: 300px;
    border-radius: 20px;
}
.header{
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
.top1{
    background-color: red;
    border-radius: 20px;
    margin-left: 47px;
}
.top3{
    background-color: blue;
    border-radius: 20px;
    margin-right: 25px;
}
.top2{
    background-color: green;
    border-radius: 20px;    
}
