.header {
    margin-top: 10px;
    ;
}

.Graph {
    height: 25em !important;
}

main {
    background-image: url("../raw/background.jpg");
}

.BPbox {
    /* background-color: rgb(255, 255, 255); */
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 33em;
    height: 16em;
}

.tRemain {

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 12em;
}
.ant-statistic-content-value{
    font-size: 2em!important;
    color:white!important;
}
.portfolioFont{
    font-size:36px;
    font-weight: bolder;
}
.portfolioFont-2{
    font-size:72px;
    font-weight: bolder;
    color: green;
}